.customer{
    padding:100px 0;

    .customer_title{
        font-size:55px;
        text-align:center;
        color: var(--color-white);
        font-weight: 600;
        margin-bottom: 80px;
    }
    .customer__list{
        display: grid;
        grid-template-columns: repeat(3, 512px);
        grid-template-rows: 480px;
        gap: 30px;
        margin: 0 auto;

        .customer_item{
            background: #ffffff1a;
            border-radius: 80px;
            padding: 51px;
            width: 100%;
            height: 100%;

            .customer__avatar{
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 38px;
                
            .avatar__content{
                .avatar_subtitle{
                    font-size: 42px;
                    font-weight: 600;
                    color: var(--color-white);
                }

                .avatar__icons{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 10px;
                }
            }
            img{
                border-radius: 50%;
            }
        }
        .customer_text{
            color: var(--color-white);
            font-size: 29px;
            font-weight: 200;
            margin-top: 60px;
        }
        }
    }
}