.footer{
    background: #000f00;
    padding: 90px 0;

    .footer__list{
        display: flex;
        align-items: start;
        justify-content: space-between;

        .footer__logo{
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 30px;

            .footer_title{
                color: var(--color-white);
                font-size: 52px;
                font-weight: 900;
            }
        }
        .footer_text{
            color: var(--color-white);
            font-size: 24px;
            font-weight: 300;
            width: 580px;
            margin-top: 30px;
        }
        .footer_subtitle{
            color: var(--color-white);
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        .footre__item-list{
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            .footer__item-item{
                .item_item-link{
                    color: var(--color-white);
                    font-size: 24px;
                    font-weight: 300;
                }
            }
        }
        .footer__form{
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;

            .form_input{
                border: 3px solid white;
                border-radius: 10px;
                width: 400px;
                height: 74px;
                background: #000f00;
                outline: none;
                color: var(--color-white);
                font-size: 24px;
                font-weight: 300;
                padding: 15px;
            }
            .form_btn{
                width: 162px;
                height: 74px;
                border-radius: 20px;
                border: 3px solid white;
                background: #000f00;
                color: var(--color-white);
                font-size: 24px;
            }
        }
    }
}