.hero{
    padding:162px 0;
    
    .hero__wraper{
        display: flex;
        align-items: start;
        justify-content: space-between;
        
        .hero__left{
            .hero_title{
                color: var(--color-white);
                font-size: 100px;
                font-weight: 600;
                width: 800px;
            }
            .hero_text{
                color: var(--color-white);
                font-size: 20px;
                font-weight: 300;
                width: 800px;
                margin: 20px 0;
            }
            .hero__btn{
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 35px;
                margin-top: 20px;
                
                .hero_audio-btn{
                    border: 2px solid var(--color-white);
                    width: 217px;
                    height: 64px;
                    border-radius: 10px;
                    background: var(--bg-green);
                    color: var(--color-white);
                    font-size: 24px;
                }
                
                .hero_audio{
                    width: 250px;
                }
            }
        }
        .hero__right{
            background:#ffffff1a;
            backdrop-filter: blur(100px);
            box-shadow: 0px 9px 18.4px 0px #00000040;
            width: 512px;
            height: 644px;
            padding: 72px;
            border-radius: 80px;
            
            display: flex;
            align-items: start;
            justify-content: end;
            flex-direction: column;
            gap: 20px;
            
            position: relative;
            
            .hero_img{
                position: absolute;
                top: -120px;
                left: 15px;
            }
            .hero_text{
                color: var(--color-white);
                font-size: 23px;
                font-weight: 300;
            }
            .hero_subtitle{
                color: var(--color-white);
                font-size: 38px;
                font-weight: 300;
            }
            .hero_btn{
                border: 2px solid var(--color-white);
                width: 217px;
                height: 64px;
                border-radius: 10px;
                background: transparent;
                color: var(--color-white);
                font-size: 24px;
            }
        }
    }
    .hero__content{
        background: #ffffff1a;
        width: 409px;
        height: 237px;
        border-radius: 50px;
        padding: 43px;
        box-shadow: 0px 9px 18.4px 0px #00000040;
        
        .hero__avatar{
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 30px;
            margin-bottom:20px ;
            
            .hero__avatar-content{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 5px;
                
                .hero_small-title{
                    color: var(--color-white);
                    font-size: x-large;
                    font-weight: 300;
                }
                .hero__icons{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }
            }
        }
        .hero_text{
            color: var(--color-white);
            font-size: larger;
            font-weight: 100;
        }
    }
}